<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" />
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="main.css">

</head>
<!---navbar-->

<body>
    <div class="nav-bar">

        <div class="logo">
            <h1>concentric</h1>
        </div>

        <div class="nav-items">
          <a class="menu" href="#" style="background-color:#7C9CD0;" href="#">home</a>
          <a class="menu" href="#">Drop down</a>
          <a class="menu" href="#">Left Sidebar</a>
          <a class="menu" href="#">Right Sidebar</a>
          <a class="menu" href="#">two Sidebar</a> 
          <a class="menu" href="#">No Sidebar</a> 
        </div>
    </div>
    <div class="content1">
        <h1>Sed Magna Tempus</h1>
        <p>Nunc iaculis miin anteivamus consequat lorem ipsum dolor.</p>
        <button style="background-color: #888787; ">Learn More</button>
    </div>
    <div class="content2">
        <h2>Ipsum feugiat lorem</h2>
        <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullaco riper laoreet, lectus arcu
            pulvinar<br>
            risus, vitae facilisis libero dolor a purus. Sed vel lacus. Mauris nibh felis adipiscing.</p>
    </div>
    <br><br>
    <div class="content3">
      <div class="b">
        <div class="con">
            <i class="fas fa-flag"></i>
        </div>
            <br>
            <h3>Lorem Ipsum</h3>
            <br>
            <p>Praesent dapibus, neque id <br>cursus faucibus, tortor neque<br> egestas augue vulputate.</p>
     </div>
     <div class="b">
            <div class="con">
                    <i class="fa fa-user" aria-hidden="true"></i>
            </div>
             <br>
             <h3>Aliqua tincidu</h3>
             <br>
             <p>Praesent dapibus, neque id <br>cursus faucibus, tortor neque<br> egestas augue vulputate.</p>
     </div>
     <div class="b">
            <div class="con">
                    <i class="fas fa-flag"></i>
            </div>
             <br>
             <h3>Vestibul auctor</h3>
             <br>
             <p>Praesent dapibus, neque id <br>cursus faucibus, tortor neque<br> egestas augue vulputate.</p>
       </div>
       <div class="b">
            <div class="con">
                    <i class="fa fa-user" aria-hidden="true"></i>
            </div>
             <br>
             <h3>Cras ornare</h3>
             <br>
             <p>Praesent dapibus, neque id <br>cursus faucibus, tortor neque<br> egestas augue vulputate.</p>
       </div>
    </div>
    <br><br>
<div class="content4">
            <div class="c">
              <div class="con2">
                  <i class="fas fa-flag"></i>
              </div>
                  <br>
                  <h3>Lorem Ipsum</h3>
                  <br>
                  <p>Praesent dapibus, neque id <br>cursus faucibus, tortor neque<br> egestas augue vulputate.</p>
           </div>
           <div class="c">
                  <div class="con2">
                          <i class="fa fa-user" aria-hidden="true"></i>
                  </div>
                   <br>
                   <h3>Aliqua tincidu</h3>
                   <br>
                   <p>Praesent dapibus, neque id <br>cursus faucibus, tortor neque<br> egestas augue vulputate.</p>
           </div>
           <div class="c">
                  <div class="con2">
                          <i class="fas fa-flag"></i>
                  </div>
                   <br>
                   <h3>Vestibul auctor</h3>
                   <br>
                   <p>Praesent dapibus, neque id <br>cursus faucibus, tortor neque<br> egestas augue vulputate.</p>
             </div>
             <div class="c">
                  <div class="con2">
                          <i class="fa fa-user" aria-hidden="true"></i>
                  </div>
                   <br>
                   <h3>Cras ornare</h3>
                   <br>
                   <p>Praesent dapibus, neque id <br>cursus faucibus, tortor neque<br> egestas augue vulputate.</p>
             </div>
         </div>
         <br><br>
         <div class="content5">
                <button>Sed magna tempus aliquam</button>  
         </div>
         <br><br>
         <div class="content6">
         <h2>Jonec quis duiat dolor</h2>
        <div class="pc">
            <img src="file:///Users/shabrinathreddy/Downloads/px-concentric%202/blue/images/placeholder.png">
            <img src="file:///Users/shabrinathreddy/Downloads/px-concentric%202/blue/images/placeholder.png">
            <img src="file:///Users/shabrinathreddy/Downloads/px-concentric%202/blue/images/placeholder.png">
            <img src="file:///Users/shabrinathreddy/Downloads/px-concentric%202/blue/images/placeholder.png">
            <img src="file:///Users/shabrinathreddy/Downloads/px-concentric%202/blue/images/placeholder.png">
        </div>
          <p>Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna ullaco riper laoreet lectus.</p>
        </div>
        <div class="content7">
           <div class="g" style="margin-left:auto;
                margin-right:auto;">
                <i class="fab fa-twitter"></i>
           </div> 
           <p>@someone Integer vitae libero ac risus egestas placerat ras iaculis.</p>
        </div>
        <div class="content8">
            <h2>Contact Us</h2>
            <div class="text" style="text-align: center;transform: translateY(100px)">
            <input type="textbox" placeholder="Name" style="width:400px;height:60px;background-color: lightgray">
            <input type="textbox" placeholder="Email" style="width:400px;height:60px;background-color:lightgray">
            <br><br>
            <textarea rows="8"cols="157" style="background-color: lightgrey">Message</textarea>
            <br><br>
            <button>Send Message</button>
            </div>
        </div>
        <br>
       <div class="content9">
           <h4>Praese dapib</h4>
            <ul class="li" style="display: inline-block">
                <li><a href="#">Magna ultrices</a></li><br>
                <li><a href="#">Praesent dapibus</a></li><br>
                <li><a href="#">Accumsan port</a></li><br>
                <li><a href="#">lentesque odio</a></li><br>
            </ul>
            <ul class="li" style="display: inline-block">
                    <li><a href="#">Magna ultrices</a></li><br>
                    <li><a href="#">Praesent dapibus</a></li><br>
                    <li><a href="#">Accumsan port</a></li><br>
                    <li><a href="#">lentesque odio</a></li><br>
                </ul>
            <ul class="li" style="display: inline-block">
                        <li><a href="#">Magna ultrices</a></li><br>
                        <li><a href="#">Praesent dapibus</a></li><br>
                        <li><a href="#">Accumsan port</a></li><br>
                        <li><a href="#">lentesque odio</a></li><br>
                 </ul>
            <ul class="li" style="display: inline-block">
                  <li><a href="#">Magna ultrices</a></li><br>
                  <li><a href="#">Praesent dapibus</a></li><br>
                  <li><a href="#">Accumsan port</a></li><br>
                  <li><a href="#">lentesque odio</a></li><br>
                 </ul>  
                 <ul class="li" style="display: inline-block">
                        <li><a href="#">Magna ultrices</a></li><br>
                        <li><a href="#">Praesent dapibus</a></li><br>
                        <li><a href="#">Accumsan port</a></li><br>
                        <li><a href="#">lentesque odio</a></li><br>
                 </ul>      
       </div>
       <hr>
</body>

</html>